.add-catalog {
  padding-top: 5px;
  margin-bottom: -11px;

  @media (min-width: @tablet-width) {
    padding-top: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
    padding-top: 74px;
  }
}

.add-catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  width: auto;
  margin-top: 0;
  margin-bottom: 36px;
  padding-right: 10px;
  position: relative;
  background-color: @white;
  display: inline-block;

  &::before {
    content: "";
    z-index: -1;
    width: 91vw;
    height: 3px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      top: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-left: 35px;
    margin-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    margin-left: 0;
  }
}

.add-catalog__list {
  border-top: 1px solid @form-grey--ligth;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.add-catalog__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 60px;
  }
}

.add-catalog__promo {
  width: 280px;
  text-align: center;
  margin: 46px auto 46px;
  height: 289px;
  background-color: @background-green;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-height: 200px;
    margin-top: 52px;
    margin-bottom: 89px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    max-width: 245px;
    min-height: 285px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("../img/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/image1@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/image2.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/image2@2x.jpg");
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/image3.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/image3@2x.jpg");
      }
    }
  }
}

.add-catalog__icon-gift {
  padding-top: 58px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    padding-left: 77px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-left: 0;
  }
}

.add-catalog__promo-text {
  font-family: @minor-font;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  margin: 0 auto;
  color: @white;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 42px;
    text-align: center;
  }
}
