.add-list {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 43px;
    padding-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
  }
}

.add-list__item {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    width: 46%;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 221px;
  }
}

.add-list__content {
  position: relative;
  display: inline-block;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.add-list__content-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid @form-grey--ligth;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.add-list__content-input {
  display: none;

  &:focus + .add-list__content-label::before {
    outline: 2px solid @black;
    border: 0;
  }

  &:checked + .add-list__content-label::before {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
  }
}

// состояния
.add-list__content-label:hover::before,
.add-list__content-label:focus::before {
  border: 1px solid @form-grey--middle;
}

.add-list__content-label:active {
  opacity: 0.3;
}
