.add-catalog {
  padding-top: 29px;
  padding-bottom: 35px;
}

.add-catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  width: auto;
  margin-top: 0;
  margin-bottom: 36px;
}

.add-catalog__list {
  border-top: 1px solid @form-grey--ligth;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    min-width: 896px;
  }
}

.add-catalog__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 79px;
  }
}

.add-catalog__promo {
  width: 100%;
  min-width: 280px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  height: 289px;
  background-color: @background-green;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 30%;
    margin: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("../img/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.add-catalog__icon-gift {
  padding-top: 58px;
  margin-bottom: 48px;
}

.add-catalog__promo-text {
  font-family: @minor-font;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  margin: 0 auto;
  color: @white;
}
