.add-catalog {
  padding-top: 25px;
  padding-bottom: 35px;
}

.add-catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  width: auto;
  margin-top: 0;
  margin-bottom: 36px;
  padding-right: 22px;
  position: relative;
  background-color: @white;
  display: inline-block;

  &::before {
    content: "";
    z-index: -1;
    width: 100vw;
    height: 2px;
    position: absolute;
    top: 15px;
    background-color: @basic-green;
  }
}

.add-catalog__list {
  border-top: 1px solid @form-grey--ligth;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 896px;
  }
}

.add-catalog__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 79px;
  }
}

.add-catalog__promo {
  width: 100%;
  min-width: 280px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  height: 289px;
  background-color: @background-green;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-height: 200px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    max-width: 245px;
    min-height: 273px;
    margin: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("../img/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.add-catalog__icon-gift {
  padding-top: 58px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    padding-left: 77px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-left: 0;
  }
}

.add-catalog__promo-text {
  font-family: @minor-font;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  margin: 0 auto;
  color: @white;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 42px;
    text-align: center;
  }
}
