.button {
  font-family: @deafult-font;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  background-color: @basic-green;
  border: none;
  outline: none;
  padding: 7px 44px;
  cursor: pointer;

  &--promo {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      display: inline-block;
      font-size: 20px;
      width: auto;
      padding: 14px 26px;
    }
  }

  &--product {
    @media (min-width: @tablet-width) {
      min-width: 248px;
      padding: 10px 0;
    }

    @media (min-width: @desktop-width) {
      min-width: 168px;
    }
  }

  &--send {
    width: 100%;
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      width: 282px;
      padding: 13px 45px;
      margin-right: 61px;
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      width: 568px;
      margin-right: 82px;
    }
  }

  &--add-product {
    @media (min-width: @tablet-width) {
      width: 100%;
    }

    @media (min-width: @desktop-width) {
      max-width: 244px;
    }
  }

  &:hover,
  &:focus {
    background-color: @basic-green--dark;
  }

  &:active {
    color: @white--active;
  }
}

.button--product-extra {
  color: @special-grey;
  background-color: @basic-grey;
  padding: 10px 39px;

  &:hover,
  &:focus {
    background-color: @basic-gray--dark;
  }

  &:active {
    color: @special-grey--active;
  }
}
