/* stylelint-disable */
.button {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  background-color: @basic-green;
  border: none;
  outline: none;
  padding: 7px 44px;
  cursor: pointer;

  &--promo {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: @tablet-width)  {
      font-size: 20px;
      width: auto;
      padding: 14px 26px;
    }
  }
  &--product {
    padding: 10px 109px;
  }
  &--product-extra {
    color: @special-grey;
    background-color: @basic-grey;
    padding: 10px 94px;
  }
}
