/* stylelint-disable */
.copyright__link {
  color: @special-grey;
}
.copyright__text {
  font-family: @minor-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
