/* stylelint-disable */
.form-head {
    font-style: normal;
    font-weight: normal;
    color: @black;
}

.form-head__container-title {
    font-size: 36px;
    line-height: 36px;
}

.form-head__container-content {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
