.grid-instruction {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 64px 104px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 240px);
    gap: 37px 84px;
  }
}
