/* stylelint-disable */
.instruction {
  font-style: normal;
  font-weight: normal;
}
.instruction__container {
  padding-left: 20px;
  padding-right: 20px;
}
.instruction__title {
  font-size: 36px;
  line-height: 40px;
  color: @black;
}
.instruction__list {
  font-family: @minor-font;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
}
