.instruction__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.instruction__list {
  font-family: @minor-font;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
}

.instruction__item {
  width: 100%;
  max-width: 278px;
  margin-bottom: 24px;
}

.instruction__description {
  margin: 0;
}
