/* stylelint-disable */
.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
  }
}
