/* stylelint-disable */
.page-header{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo-image{
  height: 38px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 45px;
  }
}

.page-header__logo-title{
  height: 18px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-title {
    height: 19px;
  }
}
