.page-header {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 21px;
    padding-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 49px;
    padding-bottom: 32px;
  }
}

.page-header__logo .page-header_picture {
  min-height: 38px;

  @media (min-width: @tablet-width) {
    height: 52px;
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
    width: 202px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-title {
  height: 18px;
  margin-right: 32px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
