/* stylelint-disable */
.preview-caption {
  font-style: normal;
  font-weight: normal;
}

.preview-caption__description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: @black;
}

.preview-caption__value {
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
}
