/* stylelint-disable */
.preview {
  background-color: @background-grey;
  padding-top: 25px;
}

.preview__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 0;
  margin-bottom: 40px;
}

.preview__content {
  font-family: @minor-font;
  color: @special-grey;
  width: 100%;
  margin-bottom: 20px;
}

.preview__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.preview__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.preview__item {
  max-width: 124px;
  width: 100%;
  padding: 15px 10px 5px;
  text-align: center;
  border: 1px solid @form-grey--ligth;
  border-radius: 5px;
}

.preview__container {
  max-width: 105px;
  padding: 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background-color: @background-grey;
}

.preview__buttons {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.preview__progress-image {
  background-repeat: no-repeat;
  background-position-x: center;

  &--before{
    background-image: url(../img/before-mobile.png);
  }
}

.preview__value {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;
}

.preview__description {
  font-family: @minor-font;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: @special-grey;
  margin: 8px 0 0;
}
