.preview-caption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: @black;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.preview-caption--container {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 327px;
    margin-top: 8px;
  }
}

.preview-caption__description {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 174px;
    margin-bottom: 9px;
  }
}
