/* stylelint-disable */
.product {
  margin: 0;
  padding: 0;
}

.product__item {
  margin-bottom: 19px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  color: @special-grey--dark;
}

.product__options {
  font-family: @minor-font;
  font-size: 12px;
  line-height: 16px;
}

.product__extra-subtitle {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @black--ligth;
}

.product__extra-text {
  font-family: @minor-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
