.programs-list {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-top: -45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 49px;
    margin-left: 40px;
  }
}

.programs-list__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
