.social {
  @media (min-width: @tablet-width) {
    width: 18.2%;
  }

  @media (min-width: @desktop-width) {
    width: 11%;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid @border;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  text-align: center;
  margin: 0 18px;

  @media (min-width: @tablet-width) {
    margin: 0 14px;
  }
}

.social__link svg {
  fill: @special-grey-2;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: @basic-green;
}

.social__link:active svg {
  opacity: 0.3;
  fill: @basic-green;
}
