.social {
  @media (min-width: @tablet-width) {
    width: 18.2%;
  }

  @media (min-width: @desktop-width) {
    width: 11.6%;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid @border;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  text-align: center;
  margin: 0 18px;

  @media (min-width: @tablet-width) {
    margin: 0 14px;
  }
}

.social__icon:hover,
.social__icon:focus {
  fill: @basic-green;
}

.social__icon:active {
  opacity: 0.3;
}
